/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

/* Вкладки */
.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f4f4f4;
    margin-right: 5px;
    font-weight: bold;
}

.tab.active {
    background-color: #fff;
    border-bottom: 2px solid #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#hamsters div {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#hamsters h3 {
    margin: 0;
}

#hamsters p {
    margin: 5px 0;
}

#hamsters button {
    margin-right: 10px;
    background-color: #dc3545;
}

#hamsters button:hover {
    background-color: #c82333;
}
